*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.number1{
  width: 100%;
  height: 100vh;
  transition-duration: 200ms;
  
}

  /* try */
  .number2{
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 3rem;
  left: 0;
  right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.number3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-left: 0.75rem;   /* 12px */
padding-right: 0.75rem;  /* 12px */
padding-top: 0.5rem;     /* 8px */
padding-bottom: 0.5rem;  /* 8px */
border-radius: 1.5rem;   /* 24px */

}

.number4{
outline: none;
padding-left: 1rem;   /* 16px */
padding-right: 1rem;  /* 16px */
padding-top: 0.25rem;     /* 4px */
padding-bottom: 0.25rem;  /* 4px */
border-radius: 9999px;

}